.preload > * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container {
  width: 400px;
  margin: 1rem auto;
}

.primary,
.animation {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 174, 0);
  color: black;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: color 0.4s ease, background-color 0.4s ease;
  font-family: roboto, sans-serif;
  font-weight: 800;
  position: relative;
}

button:hover,
button:active {
  background-color: black;
  color: rgb(255, 174, 0);
  outline: none;
}

button:active {
  outline: none;
  opacity: 0.6;
}

.fa-external-link-alt {
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  transition: right 0.4s ease;
}

button:hover > .fa-external-link-alt {
  right: 0.7rem;
  /* transform: translate(8px, 0); */
  /* transition: color 0.4s ease; */
  /* TODO: Check CSS tricks for help! */
}

.primary {
}

.animation {
  padding-right: 3rem;
}
