.preload > * {
  transition: none !important;
}

.container {
  width: 400px;
  margin: 1rem auto;
}

button {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 174, 0);
  color: black;
  border-radius: 5px;
  padding: 1rem;
  font-family: futura-pt-bold, sans-serif;
}

.primary,
.animation {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  transition: ease 0.4s;
}

button:hover,
button:active {
  background-color: black;
  color: rgb(255, 174, 0);
  outline: none;
}

button:active {
  outline: none;
  opacity: 0.6;
}

.primary {
}

.animation {
}
