body {
  background-color: coral;
}

.button {
}

.hero__button:focus,
.look_up:focus {
  outline: none;
}

.hero__button,
.look_up {
  margin: 1rem;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: 800;
  text-shadow: 0 2px 0 rgba(49, 49, 49, 0.3);
  border-radius: 5px;
  padding: 1rem 1.3rem;
  background-color: #fff;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  border: none;
  transition: background-color 0.3s ease;
}

.hero__button:hover,
.look_up:hover {
  background-color: rgb(73, 187, 224);
}

.look_up {
  padding-top: 0.7rem;
  color: white;
  background-color: rgb(64, 83, 134);
}
