* {
  box-sizing: border-box;
}

h4 {
  color: navy;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  font-weight: 600;
}

a {
  color: maroon;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
}

.podcasts {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.podcasts__desc {
  flex: 1.5;
  padding: 1rem;
}

.podcasts__entry {
  flex: 1;
}

.podcasts__entry:nth-child(4) {
  background-color: gray;
}

@media all and (max-width: 600px) {
  .podcasts__entry:nth-child(3) {
    display: none;
  }
}

@media all and (max-width: 760px) {
  .podcasts__entry:nth-child(4) {
    display: none;
  }
}

@media all and (max-width: 880px) {
  .podcasts__entry:nth-child(5) {
    display: none;
  }
}

@media all and (max-width: 950px) {
  .podcasts__entry:nth-child(6) {
    display: none;
  }
}
