* {
  box-sizing: border-box;
}

.body__text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.modal {
  width: 60%;
  margin: 0 auto;
  background-color: rosybrown;
  padding: 2rem;
  margin: 0 auto;
  margin-top: 10vh;
  z-index: 2;
  position: relative;
}

.modal span {
  cursor: pointer;
  position: absolute;
  right: 2rem;
  color: lightblue;
  font-size: 2rem;
}

.logo {
  display: block;
  margin: 0 auto;
}

.hide {
  display: none;
}

.modal__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 5.5vh;
  /* #cf9b4e */
}
