* {
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
}

.logo {
  height: 2rem;
}

nav {
  display: flex;
  width: 100%;
}

.nav__right_container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero {
  padding: 1rem 5rem;
  border: 1px solid palegoldenrod;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgba(0, 0, 0, 0.082),
    url('https://cdn.wanikani.com/assets/lander/header-2560x1600-01-7decaa1b5036dd985c727353daf055c6fe5399eba2f48602689d00d52bfabf33.jpg');
  background-position: center;
  background-size: cover;
}

.hero__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid salmon;
}

.hero__content h1 {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 3rem;
  font-weight: 200;
}

.hero__content button {
  border: none;
  color: #167475;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}

.hero__angled_footer {
  height: 8rem;
}
