ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* email subscribe */

.newsletter {
  text-align: center;
  margin: 2rem;
}

.logo img {
  width: 50px;
}

h5 {
  display: block;
  font-size: 1rem;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
}

.newsletter__form fieldset {
  display: inline-block;
}

.newsletter__form label {
  display: block;
  text-align: left;
  font-size: 1rem;
  transform: translateY(2.4rem) translateX(1rem);
  transition: transform 0.2s ease, font-size 0.2s ease;
  pointer-events: none;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.newsletter__form label.focused {
  transform: translateX(-20px) translateY(0) scale(0.9);
  font-size: 0.8rem;
}

.newsletter__form input {
  padding: 0.7rem;
  width: 300px;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px;
}

.newsletter__form input:focus {
  box-shadow: 0 0 1px 4px #00ad9f;
  outline: none;
}

fieldset {
  border: none;
}

.newsletter__form button {
  color: white;
  background-color: #00ad9f;
  border-radius: 4px;
  padding: 0.7rem;
  border: 2px solid #00ad9f;
  margin-left: 0.2rem;
  transition: opacity 0.4s ease;
}
.newsletter__form button:hover {
  opacity: 0.8;
}

/* Site Map */

.site_map_wrap {
  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  margin: 1rem 2rem;
}

.site_map {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  max-width: 860px;
  margin: 0 auto;
  /* border: 1px solid salmon; */
  padding-bottom: 3rem;
}

.site_map h5 {
  margin-top: 0;
  margin-bottom: 2rem;
}
.site_map > * {
  flex: 1;
  flex-basis: 150px;
  padding-left: 3rem;
  padding-top: 3rem;
}

.card li {
  margin: 1rem 0;
  color: gray;
}

/* Social */

.social h5 {
  text-align: center;
}

.learn_more_wrap {
  display: flex;
  justify-content: center;
  margin: 3rem;
  margin-bottom: 2rem;
}

.learn_more {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 1200px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.learn_more a {
  text-decoration: none;
  color: gray;
  display: block;
  margin: 0 1rem;
}

.fine_print {
  text-decoration: none;
  color: gray;
  display: block;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.fine_print a {
  display: block;
  margin: 0 0.5rem;
  text-decoration: none;
  color: black;
}

.fine_print a:hover {
  text-decoration: underline;
}
