body {
  font-family: 'Roboto', sans-serif;
}

.page {
  height: 100vh;
}

nav {
  display: flex;
  background-color: #b8060f;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 2rem;
}

.hamburger {
  background-color: #cb1f29;
  padding: 0.8rem;
  color: white;
  font-size: 2rem;
}

.desktop {
  display: none;
}

/* Sticky Nav */

.stickyCTA {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 20px 6px rgba(0, 0, 0, 0.13);
}

.sticky__button:last-child {
  background-color: #b8060f;
}

.stickyCTA .sticky__button:first-child {
  background-color: #cb1f29;
}

.sticky__button {
  flex: 1;
  display: flex;
  align-items: center;
}

.sticky__button a {
  color: white;
  text-decoration: none;
}

.sticky__button a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}

@media all and (min-width: 996px) {
  .desktop {
    display: block;
  }

  .logo_desktop {
    padding: 0 0.2rem;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    display: flex;
    align-items: center;
  }

  .logo.desktop {
    width: 10rem;
    z-index: 2;
  }

  .menu.desktop {
    flex: 1;
    display: flex;
    list-style: none;
    background-color: #cb1f29;
    align-self: stretch;
    justify-content: center;
    padding: 0 1rem;
  }

  .menu.desktop > * {
    flex: 1;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .menu.desktop > li > a {
    display: block;
    padding: 2rem 0;
    color: white;
    text-decoration: none;
    z-index: 1;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .menu.desktop > li > a:before,
  .logo_desktop:before {
    background-color: #9c050d;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 0;
    transition: top 1s ease;
  }

  span {
    display: block;
    z-index: 2;
    position: relative;
  }
  .menu.desktop > li > a:hover:before,
  .logo_desktop:hover:before {
    top: 0;
  }

  .order_online.desktop {
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
  }

  .mobile {
    display: none;
  }

  .stickyCTA {
    display: none;
  }
}

footer {
  background-color: #b8060f;
  color: white;
  line-height: 1.8rem;
  padding: 5rem;
}

footer a {
  color: white;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

footer a:hover {
  opacity: 0.7;
}

footer .social {
  display: flex;
  align-items: center;
}

.social__button {
  display: inline-block;
  background-color: #cb1f29;
  border-radius: 50%;
  line-height: 1rem;
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  transition: background-color 0.4s ease;
}

.social__button:hover {
  background-color: #9c050d;
}

.sticky__button a .fas {
  display: inline-block;
  margin: 0 0.6rem;
}

.sticky__button a {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.footer__menu {
  flex: 1;
}

.footer__menu ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.footer__menu ul li {
  text-transform: uppercase;
  padding-right: 1rem;
}

@media all and (max-width: 996px) {
  .footer__menu {
    display: none;
  }
}
