* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
}

.newsletter {
  background-color: #013a5b;
  padding: 2rem 1rem;
}

.newsletter h2 {
  margin: 0;
  color: #e56953;
}

.newsletter p {
  color: white;
}

.newsletter_form {
  display: flex;
}

.newsletter_form > * {
  flex: 1;
}
.newsletter_form input {
  background-color: #70b2c9;
  border: none;
  margin-right: 1px;
  padding: 1rem;
}

.newsletter_form input:focus {
  outline: none;
}
.newsletter_form button {
  background-color: #e56953;
  color: white;
  border-radius: 2px;
  margin-left: 1rem;
  border: none;
  padding: 0 1.5rem;
  height: 100%;
}

.footer__content {
  background-color: #01426a;
  color: #70b2c9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.footer__content > * {
  flex: 1;
}

.half_left {
  display: flex;
}

.half_left > * {
  flex: 1;
}

.half_right {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.half_right > * {
  margin-left: 1rem;
  flex: 1;
  /* TODO Adjust half right positioning */
}

.footer__content h4 {
  color: #e56953;
  text-transform: uppercase;
}

.footer__content a {
  text-transform: uppercase;
  color: #70b2c9;
  text-decoration: none;
}

.footer__content a:hover {
  color: #e56953;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  height: 100px;
  width: 100px;
}

.social ul {
  list-style: none;
  display: flex;
  font-size: 2rem;
  width: 180px;
  justify-content: space-around;
}

@media all and (min-width: 680px) {
  .footer__content {
    flex-direction: row;
  }
}
