body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  color: #1071e2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

nav > * {
  margin: 1rem 0.5rem;
}

nav a {
  color: #1071e2;
  text-decoration: none;
  transition: color 0.4s ease;
}

nav a:hover {
  color: #093669;
}

.nav__hamburger {
  color: grey;
  font-size: 1.3rem;
}

.nav__center {
  flex: 1;
}

.nav__logo {
  font-size: 1.5rem;
  color: #ea4c95;
}

.nav__logo span {
  margin: 0 0.25rem;
}

.nav__links {
  flex: 1;
  list-style: none;
  font-size: 1.1em;
  margin: 0;
  padding: 0;
}

@media all and (max-width: 960px) {
  .nav__links {
    position: absolute;
    top: 0;
    left: -100%;
  }
}
