.container {
  display: flex;
  margin: 1rem;
}

.logo {
  height: 3rem;
}

.right_hand,
.right_hand_desktop {
  flex: 1;
  border: 1px solid green;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-map-marker-alt,
.fa-bars {
  font-size: 2rem;
  padding: 0 1rem;
}

.right_hand_desktop {
  list-style: none;
  padding: 0 1rem;
}

@media only screen and (min-width: 993px) {
  .hide_on_med_and_up {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .hide_on_med_and_down {
    display: none;
  }
}
