ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid red;
}

.logo {
  height: 3rem;
}

.nav_links_wrap {
  flex: 1 1;
  overflow: scroll;
}
.nav_links {
  display: flex;
  list-style: none;
}

a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: grey;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: 'Unica One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: scroll;
}
