* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #2e3034;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

.logo {
  position: sticky;
  top: 1rem;
  left: calc(50% - 5rem);
  display: block;
  width: 10rem;
  z-index: 1;
}

@media all and (min-width: 830px) {
  .logo {
    left: 1rem;
  }
}

.login_component,
.banner {
  background-color: #36393f;
  color: gray;
  position: relative;
  padding: 0.9rem 1.5rem;
  max-width: 30rem;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 0 3px 8px #2a2c30;
}

.banner {
  display: flex;

  align-items: center;
}

.banner span {
  padding-left: 8.5rem;
  color: white;
  flex: 1;
}

.banner a {
  color: gray;
  text-decoration: none;
  font-size: 1rem;
  justify-self: flex-end;
}

.banner a:hover {
  color: rgb(163, 163, 163);
}

.banner img {
  position: absolute;
  bottom: 0;
}

.login__form {
  font-size: 0.9rem;
}

.login__main_text {
  text-align: center;
}

.login_component h3 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.login_component p {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.login_component a {
  color: #7188db;
  text-decoration: none;
  font-size: 0.9rem;
}

.login_component a:hover {
  text-decoration: underline;
}

.login__form fieldset {
  border: none;
  display: block;
  margin: 0.2rem;
  font-size: 0.7rem;
}

fieldset span {
  font-size: 0.9rem;
}

.login__form fieldset input {
  width: 100%;
  background-color: #303339;
  font-size: 1rem;
  padding: 0.7rem;
  color: #fbfbfe;
  font-weight: 300;
  border: 1px solid #222428;
  transition: border 0.5s ease;
  margin: 0.7rem 0;
  border-radius: 3px;
}

.login__form fieldset input:focus {
  border: 1px solid #7188db;
  outline: none;
}

.login__form fieldset label {
  text-transform: uppercase;
  font-weight: 500;
}

.login__button {
  background-color: #7188db;
  color: #fbfbfe;
  border: none;
  display: block;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.4s ease;
  font-size: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
}

.login__button:hover {
  background-color: #7188dbde;
}
