* {
  box-sizing: border-box;
}
body {
  position: relative;
}

footer.container {
  font-size: 1.2rem;
  line-height: 2rem;
}

.subscription_text h3 {
  color: teal;
  margin: 0;
  font-size: 2rem;
}

.subscription_text p {
  margin: 0;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container fieldset {
  border: none;
  padding-bottom: 0;
}

label {
  display: block;
}

label span {
  color: rgb(187, 2, 2);
}

.text_input {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid black;
  transition: border 0.4s ease;
}

.text_input:focus {
  border: 2px solid rgb(131, 194, 37);
  outline: none;
}

.button {
  z-index: 3;
}

.contact_container {
  display: flex;
  border-top: 1px solid gray;
  font-size: 1rem;
  position: relative;
  margin-top: 10rem;
}

.contact__socials {
  flex-basis: 10.5rem;
}

.social_container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: blue;
  height: 245px;
  width: 185px;
  z-index: 2;
  background: url('https://www.monkee-boy.com/monkee_boy/images/dist/monkey-hand-w-phone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social__transformed {
  transform: rotate(35deg);
  width: 80px;
  position: absolute;
  top: 65px;
  left: 45px;
  height: 100px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  font-size: 2rem;
  justify-items: center;
  align-items: center;
  color: #fdd560;
}

.contact__address {
  flex: 1;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  line-height: 1.2rem;
  position: relative;
}

.contact__address .fas {
  position: absolute;
  left: 1.3rem;
  font-size: 1.5rem;
  color: #fdd560;
}

.contact__address,
.contact__phone {
  font-size: 0.9rem;
  padding: 1rem 3rem;
}

.contact__spacer {
  width: 1.5rem;
}

.contact__phone {
  flex: 1;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  line-height: 1.2rem;
}

.contact__phone a {
  color: teal;
  text-decoration: none;
  font-weight: 800;
}
.contact__phone a:hover {
  color: rgb(2, 82, 82);
  text-decoration: none;
}

@media all and (min-width: 750px) {
  .form_container {
    flex-direction: row;
  }

  .form_container > * {
    flex: 1;
  }
}

@media all and (min-width: 1024px) {
  .hide_desktop {
    display: none;
  }

  .contact_container {
    border-top: none;
  }

  .container {
    margin-left: 15rem;
    margin-right: 10rem;
    padding-bottom: 3rem;
  }

  .form_container fieldset:first-child {
    padding-left: 0;
  }

  .contact_container {
    margin-top: 2rem;
  }

  .contact__phone,
  .contact__address {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
  }

  .contact__address {
    border-right: 1px solid gray;
  }
  .button {
    margin-top: 1.5rem;
  }
}
