.crabigator {
  position: relative;
  padding-top: 20rem;
  background: url('https://cdn.wanikani.com/assets/session/sign-up-@2x-3e4f2a2ffa835c6a2a5f48e288381ee0a453f50ebdccc63f4b98a6dbc4179b96.png');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
